/**
 SilverStripe iTheme Theme
 http://www.silverstripe.com
 
 IE7 Hacks Stylesheet. 
 */


#Sidebar ul.sub {
	margin-top: -15px !important;
	padding: 0 !important;
}
.productContent {
	width:250px !important;
}
div.entry {
	padding-top: 0 !important;
	margin-top: -10px !important;
}
div.posterContent {	
width: 370px !important;
}
DIV.userInformation {
width: 90px !important;
}
ul#Posts li {
	width: 493px !important;
}